<!DOCTYPE html>
<html>

    <head>
        {% block head %}
            <title>TeachFlix</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="headerWrapper">
                <a href="" class="logo"><img src="assets/logo_teachflix.svg" alt=""></a>
                <div class="links">
                    <a href="/">Teachers</a>
                    <a href="/students">Students</a> 
                </div>
            </div>
        </header>
        
        {% block content %}

        {% endblock %}
    </body>

</html>